.navbar_active {
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

.card__view {
    margin-top: -1.25rem;
}

.card-body {
    display: grid
}

.card__image{
    width: 90%;
    margin: 0 5% 0 5%;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn {
    height: 46px;
}
.Skills__div {
    /* height:100px; */
    /* width:100px; */
    border:2px solid black;
    margin-top: 25px;    
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #23968a, #6fc343ad);
    background-color: white;
}
.Skills__h1 {
    width:108px;
    margin-top:-25px;
    margin-left:40px;
    background:white;
    color: #23968a;
}
.Home__background_image {
    background-image: url("background2.png");
}
